.env
.env.*
!.env.example
tmp/
var/
archives/
.gocache/
.gomodcache/
.gopath/
.deploy-tmp/
bin/
*.log
*.jsonl
*.pid
*.pem
*.key
*.p12
*.pfx
*.test
coverage.out
*.prof
*.tar.gz
*.tar
*.tgz
*.zip
*.dump
*.db
*.sqlite
docker-compose.override.yml
compose.override.yaml
