COMPOSE_PROJECT_NAME=payment
APP_ENV=production
APP_PORT=8080
APP_BIND_HOST=127.0.0.1
APP_HOST_PORT=8080
DATABASE_DSN=payment_app:change_me_app_password@tcp(mysql:3306)/payment_service?parseTime=true

MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=payment_service
MYSQL_USER=payment_app
MYSQL_PASSWORD=change_me_app_password

NEWEBPAY_MPG_URL=https://core.newebpay.com/MPG/mpg_gateway
NEWEBPAY_MERCHANT_ID=
NEWEBPAY_HASH_KEY=
NEWEBPAY_HASH_IV=
NEWEBPAY_NOTIFY_URL=https://api.nnviopp.com/api/v1/deposits/providers/newebpay/notifications
NEWEBPAY_RETURN_URL=https://api.nnviopp.com/api/v1/deposits/payment-result

GATEWAY_BASE_URL=https://api.nnviopp.com
GATEWAY_CUSTOMER_ID=RIG001
GATEWAY_SIGN_KEY=23ebf933a239994547bcafbca6c7fb0ed8a2b041dded453885d8c40788347725
GATEWAY_PAYOUT_NOTIFY_URL=https://api.nnviopp.com/api/payments/callback
GATEWAY_MAX_SKEW_SECONDS=300
GATEWAY_HTTP_TIMEOUT_SECONDS=15

MERCHANT_CODE=RIG001
MERCHANT_NAME=NewebPay
MERCHANT_API_KEY=
MERCHANT_CALLBACK_URL=
MERCHANT_INITIAL_BALANCE_TWD=0

PAYOUT_REVIEW_TOKEN=
